.drag 
{ position:relative;
 cursor:hand; 
z-index: 100;
 }
.vxod{
background-color:orange;

}
#magazin{
width:60%;
display: block;
margin:auto;
background-color:#dddddd;


border-radius: 3%;
}
